body {
    text-align: center;
    font-family: 'Alata';
}

.title {
    font-size: 72px;
    margin: 0px;
}

#icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

html {
    background-color: black;
    color: white;
}

header {
    padding-top: 15px;
}

hr {
    border-color: white;
    border-width: 5px;
    border-style: solid;
    color: white;
}

div {
    padding-top: 15px;
    padding-bottom: 15px;
}

p {
    taxt-align: center;
}
